################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/cs5368_proj1/v16/.suo
/.vs/PythonSettings.json
/.vs/VSWorkspaceState.json
/__pycache__
/austin_minimax_debug.txt
ex.py
